# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
override.tf
override.tf.json

# Azure credentials / secrets
azure-credentials.json
*.credentials.json
*.env
.env

# SSH keys
id_*.pub
id_*
teafp2
teafp2.pub
*.pem
*.key

# OS / Editor files
.DS_Store
.vscode/
.idea/
*.swp


infra/terraform/tfplan
infra/terraform/tfplan.binary
infra/terraform/.terraform/
infra/terraform/*.tfstate*
